/*
File:			custom.css
Description:	Custom styles for Thesis
More Info:		http://diythemes.com/thesis/rtfm/custom-css/
*/

.custom #sidebar_1 { background:#EBEBEB none repeat scroll 0 0; }
.custom #sidebar_2 { background:#EBEBEB;}
.speaker { background-color: lightgrey; font-size: large; font-weight: bold; }
.speaker a { color: black; text-decoration: none; }
.session { font-size: large; font-weight: bold; }
.sponsor-image { width: 190px; }
#login { font-size: 1.1em; line-height: 1.273em; padding: 0.636em 0.818em; border-width: 0.091em; border-left-width: 0; text-transform: uppercase; letter-spacing: 1.5px; }

